@charset "utf-8";
 
* {
  margin: 0;
  padding: 0;
  outline: none;
  border-style: none;
  vertical-align: baseline;
  box-sizing: border-box;
}
 
body {
  font-family: 'Nunito sans', 'Open sans', Arial, sans-serif;
  background: url("../media/images/pokemon-bg.jpg");
  background-size: cover;
  text-align: center;
}
 
container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

h2 {
    margin-top: 20px;
}

#board {
    height: 690px;
    width: 400px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border: 10px solid lightgrey;
}


.card {
    height: 128px;
    width: 90px;
    margin: 2.5px;
}